<div class="text-center">
    <h1 class="display-4">Inventory System</h1>
    <div class="right">
        @*<a href="@Url.Action("Create", "Home")">Create</a>*@
        <button>Create</button>
        <button>Delete</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Lists</th>
            </tr>
        </thead>
    </table>

    <table class="table1">
        <thead>
            <tr>
                <th>Supplier ID</th>
                <th>Supplier Name</th>
                <th>Contact Info</th>
            </tr>
        <tbody>
                @foreach (var SP in Model)
                {
                <tr>
                    <td>@SP.SupplierID</td>
                    <td>@SP.Name</td>
                    <td>@SP.ContactInfo</td>
                </tr>
                }
        </tbody>
    </table>
</div>


<div class="form-container" id="form-container">
    <div class="form-content">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" id="Name" name="Name" class="form-control" required />
                <span class="text-danger" id="NameError"></span>
            </div>

            <div class="form-group">
                <label for="SKU">Contact Info</label>
                <input type="text" id="SKU" name="SKU" class="form-control" required />
                <span class="text-danger" id="SKUError"></span>
            </div>

            <div class="form-group">
                <label for="Price">Price</label>
                <input type="number" id="Price" name="Price" class="form-control" step="0.01" required />
                <span class="text-danger" id="PriceError"></span>
            </div>


            <div class="form-group">
                <label for="Quantity">Quantity</label>
                <input type="number" id="Quantity" name="Quantity" class="form-control" step="0.01" required />
                <span class="text-danger" id="QuantityError"></span>
            </div>


            <div class="form-group">
                <label for="Supplier">SupplierID</label>
                <input type="number" id="Supplier" name="Supplier" class="form-control" step="0.01" required />
                <span class="text-danger" id="PriceError"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <button type="button" class="btn btn-primary" onclick="closeForm()">Cancel</button>
            </div>
        </form>
    </div>
</div>